{
	"presets": [
		["env", {
			"modules":false
		}],
		"mobx",
		"react"
	],
	"plugins": [
		"transform-runtime",
		"react-hot-loader/babel",
		[
			"import",
			{
				"libraryName": "antd-mobile",
				"style": true
			}
		]
	]
}