@import '~style/mobile/index.less';

@bg: #eee;

body {
  position: relative;
}

.game-view {
  position: absolute;
  left: 20px;
  top: 20px;
  .wd(200, 400);
  background-color: @bg;
  border-left: 1px solid @primary;
  border-bottom: 1px solid @primary;
  border-right: 1px solid @primary;
}

.next-view {
  position: absolute;
  right: 20px;
  top: 20px;
  .wd(80, 80);
  background-color: @bg;
}

.none, .fixed, .alive {
  float: left;
  .wd(20, 20);
  box-sizing: border-box;
}

.none {
  background-color: @bg;
}

.fixed {
  background-color: #aaa;
  border: 1px solid #fff;
}

.alive {
  background-color: @primary;
  border: 1px solid @primary-light;
}

.show-view {
  position: absolute;
  right: 20px;
  top: 120px;
  font-size: 16px;
}

@btn-size: 30;
@btn-view: 100;

.controller-view {
  position: absolute;
  right: 20px;
  top: 320px;
  .wd(@btn-view, @btn-view);
  background-color: @bg;

  .left, .down, .right, .up, .fast {
    position: absolute;
    .wd(@btn-size, @btn-size);
    background-color: @primary;
    color: #fff;
    font-size: 14px;
  }

  .left {
    top: (@btn-view - @btn-size) / 2 * 1px;
    left: 0;
  }

  .right {
    top: (@btn-view - @btn-size) / 2 * 1px;
    right: 0;
  }

  .down {
    left: (@btn-view - @btn-size) / 2 * 1px;
    bottom: 0;
  }

  .up {
    left: (@btn-view - @btn-size) / 2 * 1px;
    top: 0;
  }

  .fast {
    left: (@btn-view - @btn-size) / 2 * 1px;
    top: (@btn-view - @btn-size) / 2 * 1px;
    background-color: red;
  }
}